In [ ]:
import pandas as pd
import os
import glob

In [ ]:
# Load CSV files into a list
# csv_files = ["https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Australia_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Chile_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/France_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Italy_Wine_Stats.csv", 
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/New%20Zealand_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Portugal_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Spain_Wine_Stats.csv ",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/USA_Wine_Stats.csv"]  




csv_files = glob.glob("../Wine_Stats/*.csv") 
data_frames = [pd.read_csv(file) for file in csv_files]

# Concatenate into a single DataFrame
wine_df = pd.concat(data_frames, ignore_index=True)

# Display the first few rows
wine_df.head()

,Unnamed: 0,Name,Rating,Number of Ratings,Price,Region,Winery,Wine style,Alcohol content,Grapes,Food pairings,Bold,Tannin,Sweet,Acidic
0,0,Fields Of Joy Shiraz 2014,4.0,203,28.99,Australia / South Australia / Mount Lofty Rang...,Two Hands,Australian Shiraz,13.794543,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",85.00,47.13000,20.62,43.570
1,1,Shotfire GSM 2018,3.9,36,19.49,Australia / South Australia / Barossa,Thorn-Clarke,Australian Rhône Blend Red,14.500000,"Mourvedre, Shiraz/Syrah, Grenache","['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']",85.00,50.63000,9.05,43.000
2,2,Passion has Red Lips 2020,3.8,350,27.50,Australia / South Australia / Fleurieu / McLar...,Some Young Punks,Australian Cabernet - Shiraz,13.794543,NaN,"['Beef', 'Lamb', 'Poultry']",85.00,49.37000,8.19,44.780
3,3,The Hermit Crab Viognier - Marsanne 2018,3.8,1026,16.99,Australia / South Australia / Fleurieu / McLar...,d'Arenberg,NaN,13.794543,NaN,[],61.73,46.29527,9.05,53.555
4,4,Cabernet Sauvignon (Batch No. 1 & 3) 2019,3.8,969,14.99,Australia / South Eastern Australia,Gentleman's Collection,Australian Cabernet Sauvignon,13.794543,NaN,"['Beef', 'Lamb', 'Poultry']",76.34,49.36000,16.02,47.890

In [26]:
# Display the first few rows of the DataFrame
print(wine_df.head())

# Display the DataFrame structure (columns and data types)
print(wine_df.info())

# Summary statistics for numerical columns
print(wine_df.describe())

   Unnamed: 0                                       Name  Rating  \
0           0                  Fields Of Joy Shiraz 2014     4.0
1           1                          Shotfire GSM 2018     3.9
2           2                  Passion has Red Lips 2020     3.8
3           3   The Hermit Crab Viognier - Marsanne 2018     3.8
4           4  Cabernet Sauvignon (Batch No. 1 & 3) 2019     3.8

   Number of Ratings  Price  \
0                203  28.99
1                 36  19.49
2                350  27.50
3               1026  16.99
4                969  14.99

                                              Region                  Winery  \
0  Australia / South Australia / Mount Lofty Rang...               Two Hands
1              Australia / South Australia / Barossa            Thorn-Clarke
2  Australia / South Australia / Fleurieu / McLar...        Some Young Punks
3  Australia / South Australia / Fleurieu / McLar...              d'Arenberg
4                Australia / South Eastern Australia  Gentleman's Collection

                      Wine style  Alcohol content  \
0              Australian Shiraz        13.794543
1     Australian Rhône Blend Red        14.500000
2   Australian Cabernet - Shiraz        13.794543
3                            NaN        13.794543
4  Australian Cabernet Sauvignon        13.794543

                              Grapes  \
0                                NaN
1  Mourvedre, Shiraz/Syrah, Grenache
2                                NaN
3                                NaN
4                                NaN

                                       Food pairings   Bold    Tannin  Sweet  \
0  ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  47.13000  20.62
1  ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']  85.00  50.63000   9.05
2                        ['Beef', 'Lamb', 'Poultry']  85.00  49.37000   8.19
3                                                 []  61.73  46.29527   9.05
4                        ['Beef', 'Lamb', 'Poultry']  76.34  49.36000  16.02

   Acidic
0  43.570
1  43.000
2  44.780
3  53.555
4  47.890
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5145 entries, 0 to 5144
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5145 non-null   int64
 1   Name               5145 non-null   object
 2   Rating             5145 non-null   float64
 3   Number of Ratings  5145 non-null   int64
 4   Price              5145 non-null   float64
 5   Region             5145 non-null   object
 6   Winery             5142 non-null   object
 7   Wine style         4624 non-null   object
 8   Alcohol content    5145 non-null   float64
 9   Grapes             2977 non-null   object
 10  Food pairings      5145 non-null   object
 11  Bold               5145 non-null   float64
 12  Tannin             5145 non-null   float64
 13  Sweet              5145 non-null   float64
 14  Acidic             5145 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 603.1+ KB
None
        Unnamed: 0       Rating  Number of Ratings        Price  \
count  5145.000000  5145.000000        5145.000000  5145.000000
mean    503.271914     4.000292         601.032653    27.424618
std     406.492427     0.157726        2725.500208    10.645818
min       0.000000     3.700000          25.000000     6.500000
25%     164.000000     3.900000          73.000000    19.980000
50%     377.000000     4.000000         189.000000    25.990000
75%     790.000000     4.100000         483.000000    34.000000
max    1436.000000     4.600000      159937.000000   155.000000

       Alcohol content         Bold       Tannin        Sweet       Acidic
count      5145.000000  5145.000000  5145.000000  5145.000000  5145.000000
mean         13.794363    57.990384    46.293535    12.259602    54.096125
std           1.242644    19.081310    11.092394    12.306948    14.463969
min           5.000000     0.060000     1.400000     0.010000     7.230000
25%          13.500000    45.330000    46.295270     6.230000    44.700000
50%          13.794543    61.730000    46.295270     9.050000    53.555000
75%          14.000000    69.620000    48.610000    13.200000    63.550000
max          20.500000    85.000000    85.000000    85.000000    85.000000

In [27]:
# Remove duplicate rows from the DataFrame
# wine_df = wine_df.drop_duplicates()

# Verify by checking the shape of the DataFrame before and after
print("Before removing duplicates:", wine_df.shape)
wine_df = wine_df.drop_duplicates()
print("After removing duplicates:", wine_df.shape)

Before removing duplicates: (5145, 15)
After removing duplicates: (5145, 15)

In [30]:
# Drop rows with any null values
wine_df = wine_df.dropna()

# Verify by checking the shape of the DataFrame
print("After dropping rows with null values:", wine_df.shape)

After dropping rows with null values: (2977, 15)