In [29]:
import pandas as pd
import os
import glob

In [30]:
# Load CSV files into a list
# csv_files = ["https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Australia_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Chile_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/France_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Italy_Wine_Stats.csv", 
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/New%20Zealand_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Portugal_Wine_Stats.csv",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/Spain_Wine_Stats.csv ",
#              "https://raw.githubusercontent.com/YasithaNV2001/Wine_Data_Dashbord/refs/heads/Data_Preparation/Wine_Stats/USA_Wine_Stats.csv"]  




csv_files = glob.glob("../Wine_Stats/*.csv") 
data_frames = [pd.read_csv(file) for file in csv_files]

# Concatenate into a single DataFrame
wine_df = pd.concat(data_frames, ignore_index=True)

# Display the first few rows
wine_df.head()

,Unnamed: 0,Name,Rating,Number of Ratings,Price,Region,Winery,Wine style,Alcohol content,Grapes,Food pairings,Bold,Tannin,Sweet,Acidic
0,0,Fields Of Joy Shiraz 2014,4.0,203,28.99,Australia / South Australia / Mount Lofty Rang...,Two Hands,Australian Shiraz,13.794543,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",85.00,47.13000,20.62,43.570
1,1,Shotfire GSM 2018,3.9,36,19.49,Australia / South Australia / Barossa,Thorn-Clarke,Australian Rhône Blend Red,14.500000,"Mourvedre, Shiraz/Syrah, Grenache","['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']",85.00,50.63000,9.05,43.000
2,2,Passion has Red Lips 2020,3.8,350,27.50,Australia / South Australia / Fleurieu / McLar...,Some Young Punks,Australian Cabernet - Shiraz,13.794543,NaN,"['Beef', 'Lamb', 'Poultry']",85.00,49.37000,8.19,44.780
3,3,The Hermit Crab Viognier - Marsanne 2018,3.8,1026,16.99,Australia / South Australia / Fleurieu / McLar...,d'Arenberg,NaN,13.794543,NaN,[],61.73,46.29527,9.05,53.555
4,4,Cabernet Sauvignon (Batch No. 1 & 3) 2019,3.8,969,14.99,Australia / South Eastern Australia,Gentleman's Collection,Australian Cabernet Sauvignon,13.794543,NaN,"['Beef', 'Lamb', 'Poultry']",76.34,49.36000,16.02,47.890

In [31]:
# Display the first few rows of the DataFrame
print(wine_df.head())

# Display the DataFrame structure (columns and data types)
print(wine_df.info())

# Summary statistics for numerical columns
print(wine_df.describe())

   Unnamed: 0                                       Name  Rating  \
0           0                  Fields Of Joy Shiraz 2014     4.0
1           1                          Shotfire GSM 2018     3.9
2           2                  Passion has Red Lips 2020     3.8
3           3   The Hermit Crab Viognier - Marsanne 2018     3.8
4           4  Cabernet Sauvignon (Batch No. 1 & 3) 2019     3.8

   Number of Ratings  Price  \
0                203  28.99
1                 36  19.49
2                350  27.50
3               1026  16.99
4                969  14.99

                                              Region                  Winery  \
0  Australia / South Australia / Mount Lofty Rang...               Two Hands
1              Australia / South Australia / Barossa            Thorn-Clarke
2  Australia / South Australia / Fleurieu / McLar...        Some Young Punks
3  Australia / South Australia / Fleurieu / McLar...              d'Arenberg
4                Australia / South Eastern Australia  Gentleman's Collection

                      Wine style  Alcohol content  \
0              Australian Shiraz        13.794543
1     Australian Rhône Blend Red        14.500000
2   Australian Cabernet - Shiraz        13.794543
3                            NaN        13.794543
4  Australian Cabernet Sauvignon        13.794543

                              Grapes  \
0                                NaN
1  Mourvedre, Shiraz/Syrah, Grenache
2                                NaN
3                                NaN
4                                NaN

                                       Food pairings   Bold    Tannin  Sweet  \
0  ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  47.13000  20.62
1  ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']  85.00  50.63000   9.05
2                        ['Beef', 'Lamb', 'Poultry']  85.00  49.37000   8.19
3                                                 []  61.73  46.29527   9.05
4                        ['Beef', 'Lamb', 'Poultry']  76.34  49.36000  16.02

   Acidic
0  43.570
1  43.000
2  44.780
3  53.555
4  47.890
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5145 entries, 0 to 5144
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5145 non-null   int64
 1   Name               5145 non-null   object
 2   Rating             5145 non-null   float64
 3   Number of Ratings  5145 non-null   int64
 4   Price              5145 non-null   float64
 5   Region             5145 non-null   object
 6   Winery             5142 non-null   object
 7   Wine style         4624 non-null   object
 8   Alcohol content    5145 non-null   float64
 9   Grapes             2977 non-null   object
 10  Food pairings      5145 non-null   object
 11  Bold               5145 non-null   float64
 12  Tannin             5145 non-null   float64
 13  Sweet              5145 non-null   float64
 14  Acidic             5145 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 603.1+ KB
None
        Unnamed: 0       Rating  Number of Ratings        Price  \
count  5145.000000  5145.000000        5145.000000  5145.000000
mean    503.271914     4.000292         601.032653    27.424618
std     406.492427     0.157726        2725.500208    10.645818
min       0.000000     3.700000          25.000000     6.500000
25%     164.000000     3.900000          73.000000    19.980000
50%     377.000000     4.000000         189.000000    25.990000
75%     790.000000     4.100000         483.000000    34.000000
max    1436.000000     4.600000      159937.000000   155.000000

       Alcohol content         Bold       Tannin        Sweet       Acidic
count      5145.000000  5145.000000  5145.000000  5145.000000  5145.000000
mean         13.794363    57.990384    46.293535    12.259602    54.096125
std           1.242644    19.081310    11.092394    12.306948    14.463969
min           5.000000     0.060000     1.400000     0.010000     7.230000
25%          13.500000    45.330000    46.295270     6.230000    44.700000
50%          13.794543    61.730000    46.295270     9.050000    53.555000
75%          14.000000    69.620000    48.610000    13.200000    63.550000
max          20.500000    85.000000    85.000000    85.000000    85.000000

In [32]:
# Remove duplicate rows from the DataFrame
# wine_df = wine_df.drop_duplicates()

# Verify by checking the shape of the DataFrame before and after
print("Before removing duplicates:", wine_df.shape)
wine_df = wine_df.drop_duplicates()
print("After removing duplicates:", wine_df.shape)

Before removing duplicates: (5145, 15)
After removing duplicates: (5145, 15)

In [33]:
# Drop rows with any null values
wine_df = wine_df.dropna()

# Verify by checking the shape of the DataFrame
print("After dropping rows with null values:", wine_df.shape)

After dropping rows with null values: (2977, 15)

In [34]:
# Split the 'Region' column by '/' and create separate columns for 'Country' and 'Region Detail'
wine_df['Country'] = wine_df['Region'].str.split('/').str[0].str.strip()  # First part as 'Country'
wine_df['Country_Region'] = wine_df['Region'].str.split('/').str[1].str.strip()  # Second part as 'Country_Region'

# Display the first few rows to confirm the changes
print(wine_df[['Region', 'Country', 'Country_Region']].head())
print(wine_df)

                                              Region    Country  \
1              Australia / South Australia / Barossa  Australia
5  Australia / South Australia / Fleurieu / McLar...  Australia
7  Australia / South Australia / Fleurieu / McLar...  Australia
8              Australia / South Australia / Barossa  Australia
9  Australia / South Australia / Barossa / Baross...  Australia

    Country_Region
1  South Australia
5  South Australia
7  South Australia
8  South Australia
9  South Australia
      Unnamed: 0                          Name  Rating  Number of Ratings  \
1              1             Shotfire GSM 2018     3.9                 36
5              5     Passion has Red Lips 2014     3.8                648
7              7            Jester Shiraz 2018     3.9                658
8              8        Shotfire Quartage 2016     3.8                 93
9              9        Stonehorse Shiraz 2018     4.0                288
...          ...                           ...     ...                ...
5138         665  Sonoma Coast Pinot Noir 2013     4.1                193
5139         666             Dry Riesling 2015     3.9                184
5141         668      Pessimist Red Blend 2020     4.0                574
5142         669       Cabernet Sauvignon 2013     3.8               4612
5144         671     Freakshow Chardonnay 2020     3.8                160

      Price                                             Region  \
1     19.49              Australia / South Australia / Barossa
5     18.49  Australia / South Australia / Fleurieu / McLar...
7     22.00  Australia / South Australia / Fleurieu / McLar...
8     17.99              Australia / South Australia / Barossa
9     29.17  Australia / South Australia / Barossa / Baross...
...     ...                                                ...
5138  39.99  United States / California / North Coast / Son...
5139  24.99  United States / California / North Coast / Nap...
5141  17.99  United States / California / Central Coast / S...
5142  34.99  United States / California / Central Coast / S...
5144  17.99  United States / California / Central Valley / ...

                    Winery                      Wine style  Alcohol content  \
1             Thorn-Clarke      Australian Rhône Blend Red             14.5
5         Some Young Punks    Australian Cabernet - Shiraz             14.5
7                   Mitolo               Australian Shiraz             14.5
8             Thorn-Clarke       Australian Bordeaux Blend             14.5
9                  Kaesler               Australian Shiraz             14.0
...                    ...                             ...              ...
5138               Red Car          Californian Pinot Noir             13.3
5139             Trefethen            Californian Riesling             12.5
5141                  DAOU           Californian Red Blend             15.2
5142        Liberty School  Californian Cabernet Sauvignon             13.5
5144  Michael David Winery          Californian Chardonnay             13.5

                                          Grapes  \
1              Mourvedre, Shiraz/Syrah, Grenache
5         70 Shiraz/Syrah, 30 Cabernet Sauvignon
7                               100 Shiraz/Syrah
8     Cabernet Franc, Malbec, Cabernet Sauvignon
9                               100 Shiraz/Syrah
...                                          ...
5138                              100 Pinot Noir
5139                                100 Riesling
5141                                   100 Durif
5142                      100 Cabernet Sauvignon
5144                              100 Chardonnay

                                          Food pairings   Bold    Tannin  \
1     ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']  85.00  50.63000
5                           ['Beef', 'Lamb', 'Poultry']  85.00  49.37000
7     ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  46.65000
8     ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison...  85.00  56.40000
9     ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  84.04  44.21000
...                                                 ...    ...       ...
5138  ['Beef', 'Veal', 'Game (deer, venison)', 'Poul...  38.89  19.57000
5139  ['Pork', 'Shellfish', 'Spicy food', 'Poultry',...  41.61  46.29527
5141                ['Beef', 'Lamb', 'Veal', 'Poultry']  85.00  53.43000
5142  ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  49.14000
5144  ['Pork', 'Rich fish (salmon, tuna etc)', 'Vege...  77.65  46.29527

      Sweet  Acidic        Country   Country_Region
1      9.05   43.00      Australia  South Australia
5      8.19   44.78      Australia  South Australia
7     19.07   44.18      Australia  South Australia
8     10.85   65.28      Australia  South Australia
9     22.10   41.95      Australia  South Australia
...     ...     ...            ...              ...
5138   7.58   54.96  United States       California
5139   1.21   69.68  United States       California
5141  15.96   61.84  United States       California
5142   9.63   42.02  United States       California
5144  33.83   47.48  United States       California

[2977 rows x 17 columns]

In [35]:
# Check for duplicate rows in the DataFrame
print("\nDuplicate records:")
print(wine_df.duplicated().sum())

Duplicate records:
0

No duplicates

In [36]:
# Calculate and display the percentage of missing values
print("\missing values percentage:")
missing_percentage = (wine_df.isnull().sum() / len(wine_df)) * 100
print(missing_percentage)

\missing values percentage:
Unnamed: 0           0.000000
Name                 0.000000
Rating               0.000000
Number of Ratings    0.000000
Price                0.000000
Region               0.000000
Winery               0.000000
Wine style           0.000000
Alcohol content      0.000000
Grapes               0.000000
Food pairings        0.000000
Bold                 0.000000
Tannin               0.000000
Sweet                0.000000
Acidic               0.000000
Country              0.000000
Country_Region       0.134363
dtype: float64

<>:2: SyntaxWarning: invalid escape sequence '\m'
<>:2: SyntaxWarning: invalid escape sequence '\m'
C:\Users\DELL\AppData\Local\Temp\ipykernel_19760\621265348.py:2: SyntaxWarning: invalid escape sequence '\m'
  print("\missing values percentage:")

If missing values are below 10%, dropping them might be fine; above 40% may result in significant data loss

In [37]:
# Since more than 40% of the 'Grapes' column is missing, it will be dropped as it's not critical for analysis
wine_df = wine_df.drop(columns=['Grapes'])
print(wine_df)

      Unnamed: 0                          Name  Rating  Number of Ratings  \
1              1             Shotfire GSM 2018     3.9                 36
5              5     Passion has Red Lips 2014     3.8                648
7              7            Jester Shiraz 2018     3.9                658
8              8        Shotfire Quartage 2016     3.8                 93
9              9        Stonehorse Shiraz 2018     4.0                288
...          ...                           ...     ...                ...
5138         665  Sonoma Coast Pinot Noir 2013     4.1                193
5139         666             Dry Riesling 2015     3.9                184
5141         668      Pessimist Red Blend 2020     4.0                574
5142         669       Cabernet Sauvignon 2013     3.8               4612
5144         671     Freakshow Chardonnay 2020     3.8                160

      Price                                             Region  \
1     19.49              Australia / South Australia / Barossa
5     18.49  Australia / South Australia / Fleurieu / McLar...
7     22.00  Australia / South Australia / Fleurieu / McLar...
8     17.99              Australia / South Australia / Barossa
9     29.17  Australia / South Australia / Barossa / Baross...
...     ...                                                ...
5138  39.99  United States / California / North Coast / Son...
5139  24.99  United States / California / North Coast / Nap...
5141  17.99  United States / California / Central Coast / S...
5142  34.99  United States / California / Central Coast / S...
5144  17.99  United States / California / Central Valley / ...

                    Winery                      Wine style  Alcohol content  \
1             Thorn-Clarke      Australian Rhône Blend Red             14.5
5         Some Young Punks    Australian Cabernet - Shiraz             14.5
7                   Mitolo               Australian Shiraz             14.5
8             Thorn-Clarke       Australian Bordeaux Blend             14.5
9                  Kaesler               Australian Shiraz             14.0
...                    ...                             ...              ...
5138               Red Car          Californian Pinot Noir             13.3
5139             Trefethen            Californian Riesling             12.5
5141                  DAOU           Californian Red Blend             15.2
5142        Liberty School  Californian Cabernet Sauvignon             13.5
5144  Michael David Winery          Californian Chardonnay             13.5

                                          Food pairings   Bold    Tannin  \
1     ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']  85.00  50.63000
5                           ['Beef', 'Lamb', 'Poultry']  85.00  49.37000
7     ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  46.65000
8     ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison...  85.00  56.40000
9     ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  84.04  44.21000
...                                                 ...    ...       ...
5138  ['Beef', 'Veal', 'Game (deer, venison)', 'Poul...  38.89  19.57000
5139  ['Pork', 'Shellfish', 'Spicy food', 'Poultry',...  41.61  46.29527
5141                ['Beef', 'Lamb', 'Veal', 'Poultry']  85.00  53.43000
5142  ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  49.14000
5144  ['Pork', 'Rich fish (salmon, tuna etc)', 'Vege...  77.65  46.29527

      Sweet  Acidic        Country   Country_Region
1      9.05   43.00      Australia  South Australia
5      8.19   44.78      Australia  South Australia
7     19.07   44.18      Australia  South Australia
8     10.85   65.28      Australia  South Australia
9     22.10   41.95      Australia  South Australia
...     ...     ...            ...              ...
5138   7.58   54.96  United States       California
5139   1.21   69.68  United States       California
5141  15.96   61.84  United States       California
5142   9.63   42.02  United States       California
5144  33.83   47.48  United States       California

[2977 rows x 16 columns]